p1{
position:absolute;
left:43%;
top:0%;
font-size:50px;
}
p2
{
position:absolute;
left:43%;
top:15%;
font-size:30px;
font-style: italic;
}
p3{
position:absolute;
top:0%;
left:40%;
font-size:50px;
}

p4{
position:absolute;
top:0%;
left:40%;
font-size:50px;
}
p5{
position:absolute;
top:0%;
left:40%;
font-size:50px;
}
p6{

position:absolute;
top:65%;
left:35%;
font-size:20px;


}
#frame1{


position:absolute;
left:30%;
top:20%;


}
#frame2{

position:absolute;
top:20%;
left:33%;

}
#frame3{

position:absolute;
top:20%;
left:33%;

}


#frame4{

position:absolute;
top:20%;
left:33%;

}


#pic1{
position:absolute;
left:5%;
top:20%;


}
#pic2{

position:absolute;
left:68%;
top:20%;

}
#pic3{


position:absolute;
top:20%;
left:5%;

}
#pic4{


position:absolute;
top:20%;
left:75%;

}
#pic5{


position:absolute;
top:20%;
left:5%;

}

#pic6{


position:absolute;
top:20%;
left:75%;

}
#pic7{


position:absolute;
top:20%;
left:5%;

}
#pic8{


position:absolute;
top:20%;
left:75%;

}
#download{

position:absolute;
top:70%;
left:37%;

}
#summary{

position:absolute;
left:30%;
top:60%;
}
#link{

position:absolute;
left:40%;
top:75%;

}
#pVp{
position:absolute;
left:20%;
top:75%;


}
#pVc{
position:absolute;
left:60%;
top:75%;


}
.button{

color:blue;
width:300px;
height:250px;
}









